body{
	font-family: helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: helvetica, arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #222222;
	text-rendering: optimizeLegibility;
}

p {
	color: rgb(119, 119, 119);
	font-family: helvetica, arial, sans-serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.6;
	text-rendering: optimizeLegibility;
}

button{
	font-family: helvetica, arial, sans-serif;
}

a{
	color: #eea727;
	text-decoration: none;

	&:hover, &:active{
		color: #eea727;
		text-decoration: underline;
	}

	&:focus{
		color: #eea727;
		outline: none;
		text-decoration: none;
	}

}
